<ion-header>
  <ion-toolbar>
    <ion-title> Cámara 1 </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h2>Cámara Puerto Niebla</h2>
  <video autoplay controls class="video-container">
    <source
      src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
      type="video/mp4"
    />
  </video>
  <h2>Cámara Puerto Corral</h2>
  <video autoplay controls class="video-container">
    <source
      src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
      type="video/mp4"
    />
  </video>
</ion-content>
