.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 10%;
  overflow: hidden;
  background-color: black; /* Opcional, para que el fondo sea uniforme */
}

.video-container video,
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video para cubrir todo el contenedor */
}
